<footer class="h-[64px] min-w-full bg-red-300">
	<div>
		<p>© {new Date().getFullYear()} HawkerStore</p>
	</div>
	<div>
		<a>Home</a>
		<a>About</a>
		<a>Contact</a>
		<a>Privacy Policy</a>
		<a>Terms</a>
	</div>
</footer>
