<header class="h-[64px] min-w-full bg-red-300">
	<div>
		<a>Logo</a>
	</div>
	<div>
		<nav>
			<a>Home</a>
			<a>About</a>
			<a>Shop</a>
			<a>Blog</a>
			<a>Contact</a>
		</nav>
	</div>
	<div>
		<a>Basket</a>
	</div>
</header>
